<html>
    <head>
        <title>Django Project 1</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Blog</a></h1>
        </div>

        <div>
            <p>published: 11/29/19 11:36 AM</p>
            <h2><a href="">My first post</a></h2>
            <p>Harvey spectre: 
                1)I set the meetings, I dont take them.
                2)My respect isn't demanded. It's earned
                
            </p>
        </div>

        <div>
            <p>published: 11/29/19 11:37 AM</p>
            <h2><a href="">My second post</a></h2>
            <p>3)Get this through your head, when I came here I dominated. People thought I worked hundred hours a day. Now no matter what time I get in,
                no one questions my ability to get the work done.</p>
        </div>
    </body>
</html>