<html>
    <head>
        <title>Django Project 1</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Blog</a></h1>
        </div>
        <div>{% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}</p>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}</div>
        <div>
            <p>published: 11/29/19 11:36 AM</p>
            <h2><a href="">Post from html:1</a></h2>
            <p>Harvey spectre: 
                1)I set the meetings, I dont take them.
                2)My respect isn't demanded. It's earned
                
            </p>
        </div>

        <div>
            <p>published: 11/29/19 11:37 AM</p>
            <h2><a href="">Post from html:2</a></h2>
            <p>3)Get this through your head, when I came here I dominated. People thought I worked hundred hours a day. Now no matter what time I get in,
                no one questions my ability to get the work done.</p>
        </div>
    </body>
</html>